* {
    font-family: sans-serif;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em 0 0 0;
}

.book-card {
    background-color: rgb(107, 134, 252);
    width: auto;
    height: fit-content;
    padding: 1em;
    border-radius: 10px;
}

.delete-button {
    /* background-color: red; */
    display: block;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

label {
    padding-top: 1em;
}

button {
    margin-top: 1em;
}
